thicknessDevicePort=9999
temperatureDevicePort=9998
temperature0Factor0=0.0
temperature0Factor1=1.0
temperature0Factor2=0.0
temperature1Factor0=0.0
temperature1Factor1=1.0
temperature1Factor2=0.0
temperature2Factor0=0.0
temperature2Factor1=1.0
temperature2Factor2=0.0
temperature3Factor0=0.0
temperature3Factor1=1.0
temperature3Factor2=0.0
temperature4Factor0=0.0
temperature4Factor1=1.0
temperature4Factor2=0.0
temperature5Factor0=0.0
temperature5Factor1=1.0
temperature5Factor2=0.0
temperature6Factor0=0.0
temperature6Factor1=1.0
temperature6Factor2=0.0
temperature7Factor0=0.0
temperature7Factor1=1.0
temperature7Factor2=0.0
temperature8Factor0=0.0
temperature8Factor1=1.0
temperature8Factor2=0.0
chartIndex0=0
chartIndex1=1
chartIndex2=2
chartIndex3=5
chartIndex4=0
chartIndex5=0
chartIndex6=0
chartIndex7=0
chartIndex8=0
chartIndex9=0
